*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #070505; /* Cor de fundo */
    color: #f6f6f6; /* Cor do texto */

} 
.titulo-destaque{
    color: #22D4FD; /* Cor do texto */
}
.apresentacao{
    margin: 0% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    text-align: center;
}