@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #0d58ad;

    --font-primaria:'Krona One', sans-serif;
    --font-secundaria:'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
} 
.cabecalho{
    padding: 2% 0 0 15%;
 
}
.cabecalho__menu{
    display: flex;
    gap: 80px;

}
.cabecalho__menu__link{
    text-decoration: none;
    color: var(--cor-terciaria); 
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 600;
}
.titulo-destaque{
    color: var(--cor-terciaria); 
}
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    margin-top: 20px;
    font-family: var(--font-secundaria);
    
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-size: 1.5rem;
    font-family: var(--font-primaria);
    color: var(--cor-terciaria); 
    text-align: center;
    margin-bottom: 20px;
}
.apresentacao__links__navegacao{
    text-decoration: none;
    justify-content: center;
    gap: 16px;
    align-items: center;
    display: flex;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #22D4FD;
    width: 50%;
    padding: 21.5px;
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover); 
    color: var(--cor-secundaria); 
}
.apresentacao__imagem{
    width: 50%;
}
.rodape {
    padding: 24px;
    justify-content: center;
    align-items: center;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
@media(max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;  
    }
}